#root {
  width: 100%;
}

.body {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
}

/* make all the content span 90% of the screen */
.header,
.article,
.footer {
  text-align: center;
  width: 90%;
}

/* text color */
h1,
h2,
h3,
h4,
h5,
p,
ul,
a {
  color: #FBF8D5;
}

/* font size
------------ */
h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.65em;
}

/* this styles avoid gaps between the sections */
h3 {
  margin-top: 0;
  font-size: 1.287em;
}

h4 {
  font-size: 1.187em;
  margin: 0.4em 0;
}

h5 {
  font-size: 1.1em;
  margin: 0.2em 0;
}

p {
  margin: 0;
}

a {
  font-size: 1em;
  transition: all 0.2s;
}

a:hover {
  /* color: #ffb300; */
  color: #ffed21;
  font-size: 1.15em;
}

/* p,
ul {
  font-size: 1.2em;
} */

/* paragraph inside personal profile section */
/* .professional-summary p {
  padding: 1em;
} */

/* set all the unorder list */
ul {
  width: inherit;
  margin: auto;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0.1em;
}

.lb {
  /* color: #cddc39; */
  color: #c6e5f2;
}

/* the  color and the script behind the photo */
.picture-background {
  background-image: linear-gradient(to right, #2c312d, #060806);
  display: grid;
  grid-template-areas: "a";
  overflow: hidden;
}

/* scripting effect */
.picture-background p {
  color: #718290;
  margin-top: 0;
  /* padding: 1em; */
  grid-area: a;
  height: 2em;
  text-align: left;
  min-width: 95%;
  word-break: break-all;
}

/* profile picture */
img {
  clip-path: circle(47%);
  max-width: 20%;
  grid-area: a;
  margin: auto;
}

/* react logo */
.fa-react {
  /* color: rgb(0, 209, 247); */
  color: #6fd4ff;
  font-size: 1.1em;
}

/* padding to all sections */
.header-text,
.professional-summary,
.education,
.interpersonal-skills,
.skills,
.project-links,
.professional-experience,
.projects {
  padding: 1em;
}

/* set the background color to all the sections
----------------------------------------------- */

.header {
  background-color: #313747;
  /* background-color: #003856; */
}

.professional-summary {
  /* background-color: #355456; */
  background-color: #05556F;
  background-color: #05556F;
}

.education {
  /* background-color: #4D868F; */
  background-color: #84869B;
  background-color: #5a5b6a;
}

.interpersonal-skills {
  /* background-color: #51666f; */
  background-color: #849E8A;
  background-color: #56675a;
}

.skills {
  /* background-color: #596367; */
  background-color: #D7CFA1;
  background-color: #757156;
}

.project-links {
  /* background-color: #596367; */
  background-color: #1f2b26;
  background-color: #1f2b26;
}

.professional-experience {
  /* background-color: #596367; */
  background-color: #445446;
}

.projects {
  /* background-color: #596367; */
  background-color: #445446;
}

.footer-container {
  background-color: #605f5e;
  /* background-color: #a19fbe; */
  padding: 1em 0;
}

/* skills */

/* set of styles for medium and big screen size */
/* @media only screen and (min-width: 44.375em) { */
@media only screen and (min-width: 1000px) {
  .article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: max-content;
    grid-template-areas: "a b"
                         "c d"
                         "e f";
  }

  .a {
    grid-area: a;
    background-color: #355456;
  }

  .b {
    grid-area: b;
    background-color: #51666f;
    display: flex;
    justify-content: center;
  }

  .c {
    grid-area: c;
    background-color: #355456;
  }

  .d {
    grid-area: d;
    background-color: #51666f;
  }

  .e {
    grid-area: e;
    background-color: #355456;
  }

  .f {
    grid-area: f;
    background-color: #51666f;
  }

  .a, .b, .c, .d, .e, .f, .footer-container {
    border-bottom: solid 1px #313747;
    padding: 1em 0;
  }

  /* .a, .b, .c, .d, .e, .f {
    padding: 1em;
  } */

  .professional-summary,
  .education,
  .interpersonal-skills,
  .skills,
  .project-links,
  .professional-experience,
  .projects {
    background-color: inherit;
  }
  
  .skills {
    background-color: #51666f;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .interpersonal-skills {
    background-color: #355456;
  }

  .interpersonal-skills-list {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    /* border: solid 1px; */
    padding: 1em;
  }

  /* skills links */
  .skills li {
    height: 1em;
  }

  .education {
    background-color: #51666f;
  }

}